/* CadastroProduto.css */

/* Configurações de layout global */
/* Configurações de layout global */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.cadastro-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  width:100%
}

.cadastro-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

/* Estilos para o formulário */
.cadastro-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastro-container input[type="text"] {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cadastro-container input[type="text"]:focus {
  border-color: #007bff;
}

.cadastro-container input[type="submit"] {
  padding: 0.8rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.cadastro-container input[type="submit"]:hover {
  background-color: #0056b3;
}

.cadastro-container input[type="submit"]:active {
  background-color: #004085;
}

/* Responsividade */
@media (max-width: 480px) {
  .cadastro-container {
      padding: 1rem;
  }
}
